<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PanoPoker{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/index.css') }}">
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 PanoPoker — Todos os direitos reservados.</p>
    </footer>
</body>
</html>
