<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Configurar Loja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/configurar_loja.css') }}">

</head>
<body>
    <div class="container">
        <h1>Configurar sua loja</h1>
        <form method="post" action="/loja/configurar">
            <label for="slug">Link da loja<br>www.panopoker.com/loja/promotor/SEULINK<br>
            </label>
            <input type="text" id="slug" name="slug" value="{{ slug_atual }}" required>
            <small style="color: #ff0000; font-weight: normal;">NÃO USE ESPAÇOS!</small>

            <label for="whatsapp">WhatsApp (55 DDD Número):</label>
            <input type="text" id="whatsapp" name="whatsapp" value="{{ whatsapp }}" required>
            <small style="color: #ff0000; font-weight: normal;">55 e DDD SÃO OBRIGATORIOS! (Ex: 5511977778888)</small>

            <label for="nome">Nome da loja (Use seu nome ou apelido):</label>
            <input type="text" id="nome" name="nome" value="{{ nome }}">

            <button type="submit">Salvar loja</button>
        </form>
    </div>
</body>
</html>
