<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - PanoPoker</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/login.css') }}">

</head>
<body>
    <div class="container">
        <h1>PanoPoker</br>Painel</h1>
        {% if erro %}
            <div class="erro">{{ erro }}</div>
        {% endif %}
        <form method="post" action="/login-web">
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <input type="hidden" name="next" value="{{ next or '/' }}">
            <button type="submit">Entrar</button>
        </form>

        <div class="ou-divisor">ou</div>

        <a
        href="https://accounts.google.com/o/oauth2/v2/auth?client_id={{ google_client_id }}&redirect_uri={{ google_redirect_uri_web_final | urlencode }}&response_type=code&scope=openid%20email%20profile&access_type=offline&prompt=consent&state={{ next | urlencode }}"
        class="google-button"
        >
        Entrar com Google
        </a>
    </div>
</body>
</html>
